{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    {{ form_start(form) }}
    <button type="button" class="add_item_link btn btn-primary" data-collection-holder-class="keyWords">Add a word</button>

        <ul class="keyWords"
            data-index="{{ form.keyWords|length > 0 ? form.keyWords|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.keyWords.vars.prototype)|e('html_attr') }}"
        >
            {% for keyWord in form.keyWords %}
                <li>{{ form_row(keyWord) }}</li>
            {% endfor %}
        </ul>

    <button class="btn btn-primary position-absolute top-0 end-0 m-5">{{ button_label|default('Save') }}</button>

    {{ form_end(form) }}

    <br><br>

    <br><br>
    <a href="{{ path('app_product_index') }}">back to list</a>

    <br><br>
    {{ include('product/_delete_form.html.twig') }}

    <script>
        $( document ).ready(function(){
            $sizes = $("#product_size")
            $sizes.empty()
            $sizes.append(
                '<option value selected="selected">Choose a category first</option>'
            )

            $('#product_category').on('change', function (e) {
                $category = $("#product_category option:selected").html();
                console.log($category)
                $sizes.empty()
                if($category === "Chaussures"){
                    $sizes.append(
                        '<option value="38">38</option>' +
                        '<option value="39">39</option>' +
                        '<option value="40">40</option>' +
                        '<option value="41">41</option>' +
                        '<option value="42">42</option>' +
                        '<option value="43">43</option>' +
                        '<option value="44">44</option>' +
                        '<option value="45">45</option>' +
                        '<option value="46">46</option>'
                    )
                }
                if($category === "T-shirts"){
                    $sizes.append(
                        '<option value="XS">XS</option>' +
                        '<option value="S">S</option>' +
                        '<option value="M">M</option>' +
                        '<option value="L">L</option>' +
                        '<option value="XL">XL</option>'
                    )
                }

            });
            const addTagFormDeleteLink = (item) => {
                const removeFormButton = document.createElement('button');
                removeFormButton.innerText = 'Delete this word';
                removeFormButton.classList.add("btn-danger")

                item.append(removeFormButton);

                removeFormButton.addEventListener('click', (e) => {
                    e.preventDefault();
                    item.remove();
                });
            }
            const addFormToCollection = (e) => {
                const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
                const item = document.createElement('li');
                item.innerHTML = collectionHolder
                    .dataset
                    .prototype
                    .replace(
                        /__name__/g,
                        collectionHolder.dataset.index
                    );
                collectionHolder.appendChild(item);
                collectionHolder.dataset.index++;
                addTagFormDeleteLink(item);
            };
            const deleteButton = () => {
                document
                    .querySelectorAll('ul.keyWords li')
                    .forEach((keyWord) => {
                        addTagFormDeleteLink(keyWord)
                    })
            };

            document
                .querySelectorAll('.add_item_link')
                .forEach(btn => {
                    btn.addEventListener("click", addFormToCollection)
                })
                deleteButton()
        })
    </script>

{% endblock %}
