{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="btn btn-link position-absolute top-0 end-0" href="{{ path('app_logout') }}">Logout</a>
    {% else %}
        <a class="position-absolute top-0 end-0 btn btn-link" href="{{ path('login') }}">Login</a>
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="btn btn-link" href="{{ path('app_product_new') }}">Create new</a>
    {% endif %}


    <h2>Change categories</h2>

    <form id="filter" method="get" action="{{ path('app_category_index') }}">
        <label id="none" for="none">None</label>
        <input type="radio" name="filter" value="none" checked>
        <label id="shoes" for="shoes">Chaussures</label>
        <input type="radio" name="filter" value="chaussures">
        <label id="tshirts" for="tshirts">T-shirts</label>
        <input type="radio" name="filter" value="t-shirts">
        <button class="btn btn-primary" type="submit">Trier</button>
    </form>

    <br><br>

    {% if sizes is not empty %}
        <form id="filterSizes" method="get" action="{{ path('app_category_size') }}">
            <label for="size">Select a size</label>
            <select name="size" id="size">
                {% for size in sizes %}
                    <option value="{{ size }}">{{ size }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit">Trier</button>
        </form>
    {% endif %}

    <br><br>
    <form id="researchForm" method="get" action="{{ path('app_product_research') }}">
        <label for="research">Research</label>
        <input type="text" name="research" id="research">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>

    <br><br>


    <table class="table">

        <div id="body" class="d-flex justify-content-around flex-wrap">
        {% for product in products %}
            <div class="card mb-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ product.size }}</h6>
                    <p class="card-text">{{ product.description }}</p>
                    <a class="btn btn-primary" href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="btn btn-warning" href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                    {% endif %}
                </div>
            </div>

        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>

        {% endfor %}
        </div>
    </table>

    <div id="spinner"></div>

{% endblock %}

